html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5190cf;
  color: #000;
}

.container {
  width: 480px;
  height: 630px;
  background-color: rgb(127, 177, 220);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 25px 15px rgba(0, 0, 0, 0.5);
}

form {
  width: 90%;
}
.form-group {
  height: 60px;
  /* display: flex;
  flex-direction: column; */
}
label {
  position: relative;
  bottom: 3px;
  font-weight: 600;
}

input {
  width: 100%;
  padding: 5px;
  border: none;
  border-bottom: 1px solid #000;
  background-color: rgb(127, 177, 220);
  outline: none;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
input:focus {
  outline: none;
}
input::placeholder {
  color: #363131;
}
input:invalid {
  border-bottom: 2px solid #8b1c1c;
}

button {
  cursor: pointer;
  color: #fff;
  background-color: #033e63;
  border-radius: 5px;
  width: 50%;
  height: 40px;
  margin-left: 25%;
  border: none;
  outline: none;
  margin-top: 5px;
}

button:hover {
  /* opacity: 0.8; */
  filter: brightness(150%);
}
button:focus {
  outline: none;
}

.message-container {
  border: 1px solid black;
  width: 90%;
  border-radius: 5px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
