html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5190cf;
  color: #000;
}

.container {
  width: 480px;
  height: 600px;
  background-color: rgb(127, 177, 220);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 25px 15px rgba(0, 0, 0, 0.5);
}
